<!DOCTYPE html>
<html>
<head>
    <title>PCB Defect Detection</title>
</head>
<body>

    <h2>Upload PCB Image</h2>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <br><br>
        <button type="submit">Predict</button>
    </form>

    {% if result %}
        <h3>Result: {{ result }}</h3>
        <h3>Confidence: {{ confidence }}%</h3>
        <img src="{{ img_path }}" width="200">
    {% endif %}

</body>
</html>